<div class="hero-unit">
	<h1><%= ["Здрасти!", "Привет!", "Здравей!"].shuffle[0]%></h1>
	<p>Тук са събрани всички хижи и заслони. Какво чакаш?</h1>
	<p>
	<a class="btn btn-primary btn-large" href="/map/">
		Към картата
	</a>
	</p>
</div>
