<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script language="javascript">
    $(function() {
        var map;

        function initialize() {
            var mapOptions = {
                zoom: 8,
                center: new google.maps.LatLng(42.7, 23.333333),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('map_canvas'),
                    mapOptions);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        $(window).resize(function () {
            var h = $(window).height(),
                    offsetTop = 75;

            $('#map_canvas').css('height', (h - offsetTop));
        }).resize();

        var successHandler = function(result) {
            if (!result || result.length == 0) {
                return;
            }

            for (var i=0; i<result.length; i++) {
                var cur_data = result[i];

                (function(data) {
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(data.lat, data.lng),
                        map: map,
                        title: data.name
                    });

                    var content = "<b>" + data.name + "</b><br/>";
                    if (data.alt > 0) {
                        content += "Надм. височина: " + data.alt + "<br/>";
                    }

                    content += data.description;

                    var infowindow = new google.maps.InfoWindow({
                        content: content
                    });

                    google.maps.event.addListener(marker, 'click', function() {
                        infowindow.open(map,marker);
                    });
                })(cur_data);
            }
        }

        var errorHandler = function() {
            alert("Нещо се обърка :(");
        }

        $.ajax({
            type: "GET",
            url: ALL_OBJECTS_ENDPOINT,
            contentType: 'application/json',
            success: successHandler,
            error: errorHandler,
            dataType: "json",
            xhrFields: {
                withCredentials: true
            }
        })
    });
</script>
<div id="map_canvas"></div>
